<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0">Address Book</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <h5 class="card-title">Contact List <span class="text-muted fw-normal ms-2">({{total}})</span></h5>
            </div>
          </div><!-- end col -->

          <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-start justify-content-md-end mt-2 mt-md-0 gap-2 mb-3">

              <div class="search-box">
                <div class="position-relative">
                  <input type="text" class="form-control rounded bg-light border-0 dialsearch"
                    placeholder="Enter name or Number...">

                </div>

              </div>

              <div>
                <a [routerLink]="[]" (click)="addContact()" class="btn btn-light"><i class="uil uil-plus me-1"></i> Add
                  New</a>
              </div>

            </div>
          </div><!-- end col -->
        </div><!-- end row -->



        <div class="table-responsive">
          <table class="table align-middle table-nowrap table-check">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Ext.</th>
                <th scope="col">Email</th>
                <th scope="col">Designation</th>
                <th scope="col">Company</th>
                <th scope="col">Mobile</th>
                <th style="width: 80px; min-width: 80px;">Action</th>
              </tr><!-- end tr -->
            </thead><!-- end thead -->
            <tbody>
              <tr *ngFor="let con of contacts; let i = index;">

                <td>
                  <img src="assets/images/users/avatar-{{i+1}}.jpg" alt="" class="avatar-sm rounded-circle me-2">
                  <a  [routerLink]="'/dashboard/contact-details/'+con.extension" class="text-body fw-medium">{{con.first_name+" "+ con.last_name}}</a>
                </td>
                <td>
                  <a  [routerLink]="'/dashboard/contact-details/'+con.work_phone" class="text-body fw-medium">{{con.work_phone}}</a>

                  Ext.+{{con.extension}}
                </td>

                <td>{{con.email}}</td>
                <td>
                  <div class="d-flex gap-2">
                    <a [routerLink]="'/dashboard/contact-details/'+con.extension" class="badge badge-soft-primary">{{con.role}}</a>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2">
                    <a [routerLink]="'/dashboard/contact-details/'+con.extension" class="badge badge-soft-primary">{{con.organization}}</a>
                  </div>
                </td>

                <td><a  [routerLink]="'/dashboard/contact-details/'+con.mobile" class="text-body fw-medium">{{con.mobile}}</a>
                </td>

                <td>
                  <div class="dropdown" ngbDropdown>
                    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false" ngbDropdownToggle>
                      <i class="uil uil-ellipsis-h"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                      <li><a class="dropdown-item" [routerLink]="[]" (click)="edit(con)">Edit</a></li>

                      <li><a class="dropdown-item" [routerLink]="[]" (click)="delete(con)">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr><!-- end tr -->

            </tbody><!-- end tbody -->
          </table><!-- end table -->
        </div>

        <div>

          <mat-paginator #paginator (page)="onPaginateChange($event)" [length]="pageLength"
            [pageSizeOptions]="pageSizeOptions" [pageSize]="size" showFirstLastButtons>
          </mat-paginator>
        </div>

      </div><!-- end card body -->
    </div><!-- end card -->
  </div><!-- end col -->
</div><!-- end row -->

