
  <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel">Delete</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="close('Close click')">

      </button>
  </div>
  <div class="modal-body">
      <h5 class="font-size-16">Are you sure deleting {{data.type}} {{data.value}}?
      </h5>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal"
          (click)="close('Close click')">Close</button>
      <button type="button" class="btn btn-danger" (click)="confirm()">Save</button>
  </div>
