<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="22">
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-light.png" alt="" height="22">
          </span>
        </a>
      </div>

      <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn"
        (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>

    </div>

    <div class="d-flex">
<!--
      <div class="dropdown d-none d-lg-inline-block" ngbDropdown >
        <iframe [src]="iframeSrc" frameborder="0" scrolling="no" class="iframe-init" allowtransparency="true"
        allow="camera;microphone"></iframe>
      </div> -->

      <div class="dropdown d-inline-block d-flex align-items-center"> <i
          class="fas fa-circle  font-size-16 align-middle me-1" id="StatusBtn" #StatusBtn></i></div>


      <!-- <div class="dropdown d-none d-lg-inline-block" ngbDropdown [autoClose]="false">
        <button type="button" class="btn header-item noti-icon" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" ngbDropdownToggle>
          <i-feather class="icon-sm" name="grid"></i-feather>
        </button>

      </div> -->



      <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item user text-start d-flex align-items-center"
          id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ngbDropdownToggle>
          <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg" alt="Header Avatar">
          <span class="ms-2 d-none d-sm-block user-item-desc">
            <span class="user-name">{{user?.name }}</span>
            <span class="user-sub-title">{{user?.agent?.designation}}</span>
          </span>
        </button>
        <div class="dropdown-menu dropdown-menu-end pt-0" ngbDropdownMenu>
          <div class="p-3 bg-primary border-bottom">
            <h6 class="mb-0 text-white">{{user?.email}}</h6>
            <!-- <p class="mb-0 font-size-11 text-white-50 fw-semibold">{{user.email}}</p> -->
          </div>
          <ng-container *ngFor="let status of statuses">
            <a class="dropdown-item" (click)="setStatus(status,StatusBtn)" [ngClass]="status.a_class"
              [routerLink]="[]"><i [ngClass]="status.i_class" class="fas fa-circle font-size-16 align-middle me-1 "></i>
              <span class="align-middle">{{status.name}}</span></a>

          </ng-container>


          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="javascript: void(0);" (click)="logout()"><i
              class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span class="align-middle">Exit
              client</span></a>
        </div>
      </div>
    </div>
  </div>
</header>
