<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="row">
  <div class="col-xl-3">
    <div class="card">
      <div class="card-body">

        <div class="alert alert-warning border-0 align-items-center" role="alert">
          <a (click)="queueLogout()" [routerLink]="[]"
            class="text-reset text-decoration-underline float-end"><b>Logout</b></a>
          <ul class="list-unstyled" [innerHTML]="queueText">

          </ul>
        </div>

        <div class="row align-items-center">
          <div class="col-sm-12">
            <p class="font-size-18">Available Queues </p>
            <div class=" ">

              <ng-multiselect-dropdown [placeholder]="'Select queue..'" [settings]="dropdownSettings"
                [data]="dropdownList" [(ngModel)]="selectedItems">
              </ng-multiselect-dropdown>
            </div>
            <div class="mt-4">
              <a [routerLink]="[]" (click)="queueLogin()" class="btn btn-primary">Change Queue</a>
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>
  <div class="col-xl-4">
    <div class="card">
      <div class="card-body text-center" style="max-height: 522px;">
        <div class="p-3 border-bottom">
          <div class="row align-items-center">
            <div class="col-2">
              <a href="#!"><i class="icon-sm small-pad" data-feather="grid"></i> </a>
            </div>

          </div>
        </div>
        <div>

          <iframe [src]="iframeSrc" allow="camera;microphone" style="height: 600px; width: 100%; " frameborder="0"
            scrolling="no">
          </iframe>

        </div>
      </div>
    </div>


  </div>


  <div class="col-xl-5">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <h5 class="card-title">
                Call History
              </h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="search-box">
              <div class="position-relative">
                <input  [(ngModel)]="callSearch" type="text" class="form-control rounded bg-light border-0 dialsearch"
                  placeholder="Enter name or Number...">
                <i (click)="getCalls()" class="uil-search search-icon" style=" cursor:pointer;"></i>
              </div>
            </div>

            <mat-tab-group headerPosition="below" (selectedTabChange)="getCalls($event)">
              <mat-tab>
                <ng-template mat-tab-label (click)="getCalls('')">
                  <i class="mdi mdi-phone-log" style="font-size:1.5rem" title="All Calls"></i>
                </ng-template>
                <div class="list-group "  style="max-height: 380px; overflow-y: scroll">
                  <a [routerLink]="[]" class="list-group-item list-group-item-action " aria-current="true"
                    *ngFor="let call of calls">
                    <div class="row">
                      <div class="col-md-1">
                        <i [ngClass]="call.mdi_icon" style="font-size:1.5rem" title="Missed"></i>
                      </div>
                      <div class="col-11">
                        <div class="d-flex w-100 justify-content-between">
                          <h6 class="mb-1"> {{call?.caller_id_number}} ({{call?.caller_id_name}})</h6>
                          <small>{{call?.start_stamp | timeago}}</small>
                        </div>
                        <p class="mb-1">{{call?.type}} {{call?.start_stamp | date:'shortTime'}}</p>
                      </div>
                    </div>
                  </a>

                </div>

              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="mdi mdi-phone-missed" style="font-size:1.5rem" title="Missed"></i>
                </ng-template>



                <div class="no-data" *ngIf="calls.length==0">No Data Available!</div>

                <div class="list-group " style="max-height: 380px; overflow-y: scroll">
                  <a [routerLink]="[]" class="list-group-item list-group-item-action " aria-current="true"
                    *ngFor="let call of calls">
                    <div class="row">
                      <div class="col-md-1">
                        <i class="mdi mdi-phone-missed" style="font-size:1.5rem" title="Missed"></i>
                      </div>
                      <div class="col-11">
                        <div class="d-flex w-100 justify-content-between">
                          <h6 class="mb-1"> {{call?.caller_id_number}} ({{call?.caller_id_name}})</h6>
                          <small>{{call?.start_stamp | timeago}}</small>
                        </div>
                        <p class="mb-1">{{call?.type}} {{call?.start_stamp | date:'shortTime'}}</p>
                      </div>
                    </div>
                  </a>
                </div>

              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="mdi mdi-phone-in-talk" style="font-size:1.5rem" title="Answered"></i>
                </ng-template>
                <div class="list-group" style="max-height: 380px; overflow-y: scroll">
                  <a [routerLink]="[]" class="list-group-item list-group-item-action " aria-current="true"
                    *ngFor="let call of calls">
                    <div class="row">
                      <div class="col-md-1">
                        <i class="mdi mdi-phone-in-talk" style="font-size:1.5rem" title="Missed"></i>
                      </div>
                      <div class="col-11">
                        <div class="d-flex w-100 justify-content-between">
                          <h6 class="mb-1"> {{call?.caller_id_number}} ({{call?.caller_id_name}})</h6>
                          <small>{{call?.start_stamp | timeago}}</small>
                        </div>
                        <p class="mb-1">{{call?.type}} {{call?.start_stamp | date:'shortTime'}}</p>
                      </div>
                    </div>
                  </a>

                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="mdi mdi-phone-message" style="font-size:1.5rem" title="VoiceMail"></i>
                </ng-template>
                <div class="list-group" style="max-height: 380px; overflow-y: scroll">
                  <a [routerLink]="[]" class="list-group-item list-group-item-action " aria-current="true"
                    *ngFor="let call of calls">
                    <div class="row">
                      <div class="col-md-1">
                        <i class="mdi mdi-phone-message" style="font-size:1.5rem" title="Missed"></i>
                      </div>
                      <div class="col-11">
                        <div class="d-flex w-100 justify-content-between">
                          <h6 class="mb-1"> {{call?.caller_id_number}} ({{call?.caller_id_name}})</h6>
                          <small>{{call?.start_stamp | timeago}}</small>
                        </div>
                        <p class="mb-1">{{call?.type}} {{call?.start_stamp | date:'shortTime'}}</p>
                      </div>
                    </div>
                  </a>

                </div>
              </mat-tab>
            </mat-tab-group>
            <!-- <button (click)="sentiframe()">sent iframe</button>
            <iframe src="/assets/iframe.html" (load)="onLoad(iframeT)" frameborder="0" #iframeT></iframe> -->

          </div>

        </div>

      </div>

    </div>

  </div>




</div>