
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:#038edc;

  }

  ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label{
      min-width: 150px;

    }
::ng-deep .mat-tab-group {
  min-height: 409px;
}
.no-data{

}
