<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>




<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0">Calls</h4>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <form id="profileF" [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="needs-validation">
        <div class="row">

          <div class="col-xl-6">
            <div class="row mb-3">
              <label class="col-md-4 col-form-label">Direction</label>
              <div class="col-md-8">
                <select class="form-select"  formControlName="direction">
                  <option value="">Select</option>
                  <option>Inbound</option>
                  <option>Outbound</option>
                  <option>Local</option>
                </select>
              </div>
            </div><!-- end row -->
            <div class="mb-3 row">
              <label for="example-search-input" class="col-md-4 col-form-label">Caller Number</label>
              <div class="col-md-8">
                <input formControlName="caller_id_number" class="form-control" type="text" name="caller_id_number">
              </div>
            </div><!-- end row -->

            <div class="mb-3 row">
              <label for="example-datetime-local-input" class="col-md-4 col-form-label">From Date and time</label>
              <div class="col-md-8">
                <input class="form-control" formControlName="start_time" type="datetime-local" value="2019-08-19T13:45:00"
                  id="example-datetime-local-input">
              </div>
            </div><!-- end row -->
            <div class="mb-3  mb-lg-0 row">
              <label for="example-search-input" class="col-md-4 col-form-label">Final Destination</label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="destination_number" name="destination">
              </div>
            </div><!-- end row -->
          </div><!-- end col -->

          <div class="col-xl-6">
            <div class="row mb-3">
              <label class="col-md-4 col-form-label">Call Type</label>
              <div class="col-md-8">
                <select class="form-select" formControlName="type">
                  <option value="">Select</option>
                  <option>Missed</option>
                  <option>Answered</option>
                  <option>Voicemail</option>
                  <option>Cancelled</option>
                  <option>Failed</option>
                </select>
              </div>
            </div><!-- end row -->
            <div class="mb-3 row">
              <label for="example-search-input" class="col-md-4 col-form-label">Caller Destination</label>
              <div class="col-md-8">
                <input class="form-control" formControlName="caller_destination" type="text" name="callern">
              </div>
            </div><!-- end row -->

            <div class="mb-3 mb-lg-0 row">
              <label for="example-datetime-local-input" class="col-md-4 col-form-label">To Date and time</label>
              <div class="col-md-8">
                <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00" formControlName="end_time">
              </div>
            </div><!-- end row -->
            <div class="mb-3 mb-lg-0 row">

              <div class="col-md-8 pt-3">
                <button type="submit" class="btn btn-primary w-md">Submit</button> &nbsp; &nbsp;
                <button type="button" (click)="clear()" class="btn btn-danger w-md">Clear</button>
              </div>
            </div><!-- end row -->
          </div><!-- end col -->

        </div><!-- end row -->
        </form>
        <hr />
        <div class="table-responsive">
          <table class="table align-middle table-nowrap table-check">
            <thead>
              <tr class="bg-transparent">
                <th>Caller No</th>
                <th>Caller Destination</th>
                <th>Final Destination</th>
                <th>Call Start Time</th>
                <th>Duration</th>
                <th>Call Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let call of calls; let i = index">
                <th scope="row" [class]="call.class" title="Missed">
                  <i-feather [name]="call.icon"></i-feather><span class="text-dark"> {{call.caller_id_number}}
                    ({{call.caller_id_name}})</span>

                </th>

                <td> {{call.caller_destination}} </td>
                <td> {{call.destination_number}}</td>
                <td>
                  <div class="d-flex gap-2">
                    <a href="#" class="badge badge-soft-primary">{{call.start_stamp}}</a>

                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2">
                    <a href="#" class="badge badge-soft-primary">{{call.duration}}</a>

                  </div>
                </td>
                <td>
                  {{call.type}}
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div>

          <mat-paginator #paginator (page)="onPaginateChange($event)" [length]="pageLength"
            [pageSizeOptions]="pageSizeOptions" [pageSize]="size" showFirstLastButtons>
          </mat-paginator>

        </div>

      </div>
    </div><!-- end card -->
  </div><!-- end col -->
</div><!-- end row -->
<!-- end row -->
