<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
          <div class="row">
              <div class="col-12">
                  <div class="page-title-box d-flex align-items-center justify-content-between">
                      <h4 class="mb-0">Calls</h4>
                  </div>
              </div>
          </div>
          <!-- end page title -->



          <div class="row">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="card-body">




                          <div class="table-responsive">
                              <table class="table align-middle table-nowrap table-check">

                                  <tbody>
                                      <tr *ngFor="let call of calls; let i = index">
                                          <th scope="row" class="text-success" title="Incoming Call">
                                              <i data-feather="phone-incoming"></i><span>&nbsp;</span>
                                          </th>
                                          <td>
                                              <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                              <a href="pages-profile.html" class="text-body fw-medium">{{call.caller_id_name}}</a>
                                          </td>
                                          <td>{{call.caller_id_number}} <a href="#!" title="Call"> <i class="fas fa-phone-alt"></i></a></td>

                                          <td>
                                              <div class="d-flex gap-2">
                                                  <a href="#" class="badge badge-soft-primary">{{call.start_stamp}}</a>

                                              </div>
                                          </td>
                                          <td>
                                            <div class="d-flex gap-2">

                                                <td>{{call.direction}} <i class="fas fa-phone-alt"></i></td>
                                            </div>
                                        </td>
                                          <td>
                                              <div class="dropdown">
                                                  <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                      <i class="uil uil-ellipsis-h"></i>
                                                  </button>
                                                  <ul class="dropdown-menu dropdown-menu-end">
                                                      <li><a class="dropdown-item" href="#">Edit Contact</a></li>
                                                      <li><a class="dropdown-item" href="#">Delete</a></li>
                                                  </ul>
                                              </div>
                                          </td>
                                      </tr><!-- end tr -->

                                  </tbody><!-- end tbody -->
                              </table><!-- end table -->
                          </div><!-- end table responsive -->

                          <div class="row g-0 text-center text-sm-start">
                              <div class="col-sm-6">
                                  <div>
                                      <p class="mb-sm-0">Showing 1 to 10 of 57 entries</p>
                                  </div>
                              </div>
                              <!-- end col -->
                              <div class="col-sm-6">
                                  <ul class="pagination pagination-rounded justify-content-center justify-content-sm-end mb-sm-0">
                                      <li class="page-item disabled">
                                          <a href="#" class="page-link"><i class="fas fa-arrow-left"></i></a>
                                      </li>
                                      <li class="page-item">
                                          <a href="#" class="page-link">1</a>
                                      </li>
                                      <li class="page-item active">
                                          <a href="#" class="page-link">2</a>
                                      </li>
                                      <li class="page-item">
                                          <a href="#" class="page-link">3</a>
                                      </li>
                                      <li class="page-item">
                                          <a href="#" class="page-link">4</a>
                                      </li>
                                      <li class="page-item">
                                          <a href="#" class="page-link">5</a>
                                      </li>
                                      <li class="page-item">
                                          <a href="#" class="page-link"><i class="fas fa-arrow-right"></i></a>
                                      </li>
                                  </ul><!-- end ul -->
                              </div><!-- end col -->
                          </div><!-- end row -->

                      </div><!-- end card body -->
                  </div><!-- end card -->
              </div><!-- end col -->
          </div><!-- end row -->
          <!-- end row -->
