<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body pb-0">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <div class="avatar">
                    <div class="avatar-title bg-soft-primary text-primary font-size-18 rounded">
                      S
                    </div>
                  </div>
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="row text-muted ">
                    <div class="form-floating mb-3 col-4">
                      <input class="form-control font-size-16 font-weight-bold mt-1" type="text"
                        placeholder="New Contact" formControlName="first_name">
                      <label for="floatingInput">First Name</label>
                    </div>
                    <div class="form-floating mb-3 col-4">
                      <input class="form-control font-size-16 font-weight-bold mt-1" type="text" placeholder="Last Name"
                        formControlName="last_name">
                      <label for="floatingInput">Last Name</label>
                    </div>
                    <div class="form-floating mb-3 col-4">
                      <input class="form-control font-size-16 font-weight-bold mt-1" type="text" readonly
                        formControlName="work_phone">
                      <label for="floatingInput">Phone Number</label>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end col -->

            <div class="col-auto">
              <div>
                <div class="d-flex flex-wrap align-items-start justify-content-md-end gap-2 mb-3">
                  <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                      height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" class="feather feather-save">
                      <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                      <polyline points="17 21 17 13 7 13 7 21"></polyline>
                      <polyline points="7 3 7 8 15 8"></polyline>
                    </svg></button>

                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->

          <div class="row">
            <div class="col-lg-4">
              <div class="mt-3">
                <div class="form-floating mb-3 ">
                  <input class="form-control font-size-16 font-weight-bold mt-1" type="text" placeholder="Company"
                    formControlName="organization">
                  <label for="floatingInput">Company</label>
                </div>
                <div class="form-floating mb-3 ">
                  <input class="form-control font-size-16 font-weight-bold mt-1" type="text" placeholder="Designation"
                    formControlName="role">
                  <label for="floatingInput">Designation</label>
                </div>
                <div class="form-floating mb-3 ">
                  <input class="form-control font-size-16 font-weight-bold mt-1" type="text" formControlName="country"
                    placeholder="City">
                  <label for="floatingInput">Country</label>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
              <div class="mt-3">
                <div class="form-floating mb-3 ">
                  <input class="form-control font-size-16 font-weight-bold mt-1" type="text" formControlName="email"
                    placeholder="Email Address">
                  <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3 ">
                  <input class="form-control font-size-16 font-weight-bold mt-1" type="text" placeholder="Address"
                    formControlName="address">
                  <label for="floatingInput">Address</label>
                </div>
                <div class="form-floating mb-3 ">
                  <input class="form-control font-size-16 font-weight-bold mt-1" type="text" formControlName="zip"
                    placeholder="Zip Code">
                  <label for="floatingInput">Zip Code</label>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">

              <div class="row">

                <div class="col-lg-12 col-sm-6">
                  <div class="form-floating mb-3 mt-3">
                    <select formControlName="type" class="form-select" id="floatingSelectGrid"
                      aria-label="Floating label select example">
                      <option value="Customer">Customer</option>
                      <option value="Supplier">Supplier</option>
                      <option value="Contractor">Contractor</option>
                      <option value="Lead">Lead</option>
                      <option value="Friend">Friend</option>
                    </select>
                    <label for="floatingInput">Type</label>
                  </div>
                  <div class="form-floating mb-3 ">
                    <input class="form-control font-size-16 font-weight-bold mt-1" type="text" formControlName="city"
                      placeholder="City">
                    <label for="floatingInput">City</label>
                  </div>
                  <div class="d-flex align-items-center mt-4">
                    <div class="flex-shrink-0 me-3">
                      <i class="uil uil-calendar-alt text-primary font-size-22"></i>
                    </div>
                    <div class="flex-grow-1">
                      <h5 class="font-size-12 mb-1">First Called Date Time</h5>
                      <p class="text-muted mb-0">06 Mar, 2021 12:00 AM</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-xl-3 col-sm-6">
            <div class="card border shadow-none bg-light">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar-sm">
                      <div class="avatar-title bg-primary text-white rounded-circle font-size-18">
                        <i class="uil uil-list-ul"></i>
                      </div>
                    </div>
                  </div>

                  <div class="flex-grow-1 overflow-hidden">
                    <p class="mb-1 text-truncate text-muted">Total Tickets</p>
                    <h5 class="font-size-16 mb-0">{{details?.total_tickets}}</h5>
                  </div>
                </div>
              </div><!-- end card body -->
            </div><!-- end card -->
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="card border shadow-none bg-light">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar-sm">
                      <div class="avatar-title  bg-primary text-white rounded-circle font-size-18">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                  </div>

                  <div class="flex-grow-1 overflow-hidden">
                    <p class="mb-1 text-truncate text-muted">Closed Tickets</p>
                    <h5 class="font-size-16 mb-0">{{details?.closed_tickets}}</h5>
                  </div>
                </div>
              </div><!-- end card body -->
            </div><!-- end card -->
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="card border shadow-none bg-soft-primary">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar-sm">
                      <div class="avatar-title bg-light text-primary rounded-circle font-size-18">
                        <i class="uil uil-phone"></i>
                      </div>
                    </div>
                  </div>

                  <div class="flex-grow-1 overflow-hidden">
                    <p class="mb-1 text-truncate text-muted">Total Calls</p>
                    <h5 class="font-size-16 mb-0">{{details?.total_calls}}</h5>
                  </div>
                </div>
              </div><!-- end card body -->
            </div><!-- end card -->
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="card border shadow-none bg-soft-primary">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar-sm">
                      <div class="avatar-title bg-light text-primary rounded-circle font-size-18">
                        <i class="uil uil-phone"></i>
                      </div>
                    </div>
                  </div>

                  <div class="flex-grow-1 overflow-hidden">
                    <p class="mb-1 text-truncate text-muted">Calls Today</p>
                    <h5 class="font-size-16 mb-0">{{details?.calls_today}}</h5>
                  </div>
                </div>
              </div><!-- end card body-->
            </div><!-- end card -->
          </div>
        </div>

      </div>
    </div>

    <mat-tab-group [(selectedIndex)]="taBIndex">
      <mat-tab label="Overview">
        <div class="card">
          <div class="card-body">


            <div class="row">
              <div class="col-lg-8">
                <div class="card border shadow-none h-100 mb-lg-0">
                  <div class="card-body">
                    <form [formGroup]="ticketForm" (ngSubmit)="onSubmitTicket('new')">
                      <h5 class="card-title mb-4">Create New Ticket</h5>

                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                          placeholder="Ex: Issue in Desktop Computer" formControlName="subject">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Description</label>
                        <textarea class="form-control" rows="5" formControlName="description"></textarea>
                      </div>
                      <div class="row">
                        <div class="mb-3 col-6">
                          <label for="formGroupExampleInput2" class="form-label">Department</label>
                          <select class="form-select" formControlName="department_id">
                            <option value="">Select Department</option>
                            <option *ngFor="let dep of departments" [value]="dep.id">{{dep.name}}</option>

                          </select>
                        </div>
                        <div class="mb-3 col-6">
                          <label for="formGroupExampleInput2" class="form-label">Priority</label>
                          <select class="form-select" formControlName="priority">
                            <option>Low</option>
                            <option>Normal</option>
                            <option>High</option>
                            <option>Critical</option>
                          </select>
                        </div>
                      </div>
                      <div class="text-muted">

                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Assign To</label>
                            <select class="form-select js-example-basic-multiple col-12 p-2" name="assign[]"
                              formControlName="agent_id">
                              <option value="">None</option>
                              <option *ngFor="let people of peoples" [value]="people.id">{{people.name}}</option>

                            </select>
                          </div>
                          <div class="mb-3 col-6">
                            <label for="formGroupExampleInput2" class="form-label">Status</label>
                            <select class="form-select" formControlName="ticket_status">
                              <option>Open</option>
                              <option>Resolved</option>
                              <option>Closed</option>
                              <option>Re-Opened</option>
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-6 mb-3">
                            <button type="submit" class="btn btn-primary btn-lg btn-block mb-1">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-layers">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                              </svg>
                              Create Ticket</button>

                          </div>
                        </div>
                      </div>

                    </form>
                  </div><!-- end card body -->
                </div><!-- end card -->
              </div><!-- end col -->
              <div class="col-lg-4">
                <div class="card border shadow-none h-100 mb-lg-0">
                  <div class="card-body">
                    <h5 class="card-title mb-3">Recent Tickets</h5>

                    <div>
                      <table class="table align-middle table-nowrap mb-0">
                        <thead>
                          <tr>
                            <th scope="col">Details</th>
                            <th scope="col">Status</th>
                          </tr><!-- end tr -->
                        </thead><!-- end thead -->
                        <tbody>
                          <tr *ngFor="let ticket of recentTickets">
                            <td>
                              <h5 class="font-size-14"><span
                                  class="badge badge-soft-primary font-size-12" (click)="showResponse(ticket)">#DS{{ticket?.ticket_number}}</span>
                                <a [routerLink]="[]" (click)="showResponse(ticket)" class="text-dark ticket-dteail-show">{{ticket?.description}} </a>
                              </h5>
                              <p class="text-muted mb-0">{{ticket.updated_at | date:'longDate'}}</p>
                            </td>
                            <td>
                              <span class="badge badge-soft-primary font-size-12">{{ticket?.ticket_status}}</span>
                            </td>
                          </tr><!-- end tr -->

                        </tbody><!-- end tbody -->
                      </table><!-- end table -->
                    </div>
                  </div><!-- end card -->
                </div><!-- end card -->
              </div><!-- end col -->
            </div><!-- end row -->
          </div><!-- end col -->
        </div>

      </mat-tab>
      <mat-tab label="Tickets">

        <div class="tab-pane">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                  <h5 class="card-title">Tickets</h5>
                </div>
                <div class="float-end mb-3">
                  <div class="search-box ">
                    <div class="position-relative">
                      <input type="text" class="form-control bg-light border-light rounded"
                        placeholder="Enter Ticket #...">
                      <i class="uil uil-search search-icon"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div data-simplebar >
                <div class="table-responsive">
                  <table class="table align-middle table-nowrap mb-0">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 40px;"></th>
                        <th scope="col" style="width: 140px;">Ticket #</th>
                        <th scope="col">Details</th>
                        <th scope="col">Assignee</th>
                        <th scope="col">Status</th>
                        <th scope="col" style="width: 140px;">Action</th>
                      </tr><!-- end tr -->
                    </thead><!-- end thead -->
                    <tbody>
                      <tr *ngFor="let ticket of recentTickets">
                        <td>
                          <div class="form-check font-size-16">
                            <input class="form-check-input" type="checkbox" value="" id="taskcheck01">
                            <label class="form-check-label" for="taskcheck01"></label>
                          </div>
                        </td>
                        <td><a class="ticket-dteail-show" [routerLink]="[]"
                            (click)="showResponse(ticket)">DS{{ticket?.ticket_number}}</a></td>
                        <td>
                          <h5 class="font-size-14"><a [routerLink]="[]" class="text-dark ticket-dteail-show"
                              (click)="showResponse(ticket)">{{ticket?.description}}</a></h5>
                          <p class="text-muted mb-0">{{ticket?.updated_at | date:'longDate'}}</p>
                        </td>

                        <td>
                          <div class="avatar-group">
                            <div class="avatar-group-item">
                              <a href="javascript: void(0);" class="d-block" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Shinto Joseph">
                                <div class="avatar-sm">
                                  <div class="avatar-title rounded-circle bg-primary">
                                    S
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </td>
                        <td>
                          <span class="badge badge-soft-primary font-size-12">Open</span>
                        </td>
                        <td>
                          <div class="btn-group dropdown dropup" ngbDropdown>
                            <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                              aria-expanded="false" ngbDropdownToggle>
                              <i class="uil uil-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                              <a class="dropdown-item" [routerLink]="[]" (click)="edit(content,ticket)" >Edit</a>
                              <a class="dropdown-item" [routerLink]="[]" (click)="delete(ticket)">Delete</a>
                            </div>

                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="" disabled>
        <div class="tab-pane">
          <div class="card">
            <div class="card-header bg-transparent border-bottom d-flex">

              <h5 class="card-title mb-0">Responses for Ticket #DS{{ticketResponse?.ticket_number}} -
                {{ticketResponse?.description}} </h5>

              <div class="ms-auto">
                <ul class="nav nav-tabs card-header-tabs float-end border-bottom-0">
                  <li class="nav-item">
                    <a class="nav-link active" [routerLink]="[]" data-bs-toggle="tab">
                      <span class="d-block d-sm-none"><i class="uil uil-comment-alt-lines"></i></span>
                      <span class="d-none d-sm-block">Notes</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="[]" data-bs-toggle="tab">
                      <span class="d-block d-sm-none"><i class="uil uil-paperclip"></i></span>

                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane show active" id="card-header-messages-tabs">
                  <div>
                    <div data-simplebar>
                      <div class="list-group list-group-flush" style="max-height: 500px; overflow-y: scroll">
                        <div class="list-group-item py-3" *ngFor="let response of ticketResponse?.responses">
                          <div class="d-flex aligm-items-start">
                            <div class="flex-shrink-0 me-3">
                              <img src="assets/images/users/avatar-2.jpg" alt="" class="avatar-sm rounded-circle">
                            </div>
                            <div class="flex-grow-1 overflow-hidden">
                              <h5 class="font-size-13 mb-1 text-truncate"><a href="javascript: void(0);"
                                  class="text-dark">{{response?.user?.name}}</a> <small
                                  class="text-muted ms-1">{{response?.updated_at | date:'longDate'}}</small></h5>
                              <p class="text-muted mb-0">{{response?.notes}}</p>
                            </div>
                            <div class="flex-shrink-0 ms-2">
                              <ul class="list-inline mb-0">

                                <li class="list-inline-item">
                                  <div class="dropdown">
                                    <a class="dropdown-toggle text-muted font-size-15 px-2" [routerLink]="[]"
                                      role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                      <i class="uil uil-ellipsis-h"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end">
                                      <a class="dropdown-item" [routerLink]="[]"><i
                                          class="uil uil-file-edit-alt align-bottom text-muted me-2"></i> Edit</a>
                                      <a class="dropdown-item" [routerLink]="[]"><i
                                          class="uil uil-trash-alt align-bottom text-muted me-2"></i> Remove</a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>
                    <form [formGroup]="responseForm" (ngSubmit)="onSubmitResponse()">
                      <div class="d-flex chat-input-section align-items-start pt-3">
                        <div class="flex-shrink-0 d-none d-sm-block me-3">
                          <img src="assets/images/users/avatar-4.jpg" alt="" class="avatar-sm rounded-circle">
                        </div>

                        <div class="flex-grow-1">

                          <div class="position-relative d-flex align-items-start">
                            <textarea class="form-control chat-input" placeholder="Some notes here..." rows="5"
                              formControlName="notes"></textarea>
                            <div class="chat-input-links d-flex align-items-start">
                              <button type="submit" class="btn btn-primary"><i class="uil uil-message"></i></button>
                            </div>
                          </div>


                        </div>

                      </div>
                    </form>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
      </mat-tab>


    </mat-tab-group>

  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Ticket</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-body">


          <div class="row">
            <div class="col-lg-12">
              <div class="card border shadow-none h-100 mb-lg-0">
                <div class="card-body">
                  <form [formGroup]="editTicketForm" (ngSubmit)="onSubmitTicket('edit')">

                    <div class="mb-3">
                      <label for="formGroupExampleInput" class="form-label">Subject</label>
                      <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="Ex: Issue in Desktop Computer" formControlName="subject">
                    </div>
                    <div class="mb-3">
                      <label for="formGroupExampleInput2" class="form-label">Description</label>
                      <textarea class="form-control" rows="5" formControlName="description"></textarea>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-6">
                        <label for="formGroupExampleInput2" class="form-label">Department</label>
                        <select class="form-select" formControlName="department_id">
                          <option value="">Select Department</option>
                          <option *ngFor="let dep of departments" [value]="dep.id">{{dep.name}}</option>

                        </select>
                      </div>
                      <div class="mb-3 col-6">
                        <label for="formGroupExampleInput2" class="form-label">Priority</label>
                        <select class="form-select" formControlName="priority">
                          <option>Low</option>
                          <option>Normal</option>
                          <option>High</option>
                          <option>Critical</option>
                        </select>
                      </div>
                    </div>
                    <div class="text-muted">

                      <div class="row mb-3">
                        <div class="col-6 mb-3">
                          <label for="formGroupExampleInput2" class="form-label">Assign To</label>
                          <select class="form-select js-example-basic-multiple col-12 p-2" name="assign[]"
                            formControlName="agent_id">
                            <option value="">None</option>
                            <option *ngFor="let people of peoples" [value]="people.id">{{people.name}}</option>

                          </select>
                        </div>
                        <div class="mb-3 col-6">
                          <label for="formGroupExampleInput2" class="form-label">Status</label>
                          <select class="form-select" formControlName="ticket_status">
                            <option>Open</option>
                            <option>Resolved</option>
                            <option>Closed</option>
                            <option>Re-Opened</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-6 mb-3">
                          <button type="submit" class="btn btn-primary btn-lg btn-block mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-layers">
                              <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                              <polyline points="2 17 12 22 22 17"></polyline>
                              <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            Update Ticket</button>

                        </div>
                      </div>
                    </div>

                  </form>
                </div><!-- end card body -->
              </div><!-- end card -->
            </div><!-- end col -->

          </div><!-- end row -->
        </div><!-- end col -->
      </div>
    </div>

  </ng-template>

</div>
